:root {
  --main-green-color: #afeb8f;
  --main-blue-color: #002f7b;
  --main-white-color: white;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.background-gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(53, 51, 205, 1) 100%
  );
  background-size: 180% 180%;
}

.background-green {
  background-color: var(--main-green-color) !important;
}

.background-blue {
  background-color: var(--main-blue-color) !important;
}

.text-bg-blue {
  color: var(--main-blue-color) !important;
}

.img-hero {
  border-radius: 10px;
}

.img-about-me {
  border-radius: 40px;
}

.text-name {
  color: var(--main-green-color);
  text-align: center;
}

.title {
  text-align: center;
  font-weight: 300;
  background-color: var(--main-white-color);
  border-radius: 200px;
}

.text-generic {
  color: var(--main-blue-color);
}

.card-text-title-color,
.text-green {
  color: var(--main-green-color);
}

.button:hover {
  opacity: 90%;
}
